<div class="translate-page">
	<div class="form">
		<h5 class="form-title">Translator</h5>
		
		<form class="register-form" [formGroup]="translatorForm">
			<div>
				<div class="form-item">
					<input type="text" [attr.disabled]="!runningBITTranslate ? '' : null" formControlName="bitText" placeholder="BIT" pattern="^[0-1]*$">
					<input hidden type="text" formControlName="bitAuxText">
					<div class="error-message" *ngIf="invalidBITControlText !== ''"> {{invalidBITControlText}}</div>
				</div>
				<button [disabled]="runningBITTranslate" class="start" (click)="startTranslateBitToMorse()" 
						title="Start translate BIT to morse code!">Start</button>
				<button [disabled]="!runningBITTranslate" class="stop"(click)="stopTranslateBitToMorse()" 
						title="{{runningBITTranslate ? 'Stop translate BIT to morse code!' : 'Please start BIT translate!'}}">Stop</button>			
			</div>

			<div>
				<div class="form-item">
					<input type="text" formControlName="morseText" placeholder="Morse Code">
					<div class="error-message" *ngIf="invalidMorseControlText !== ''"> {{invalidMorseControlText}}</div>
				</div>
				<button (click)="translateToHuman()">Translate To Human</button>
			</div>
			
			<div>
				<div class="form-item">
					<input type="text" formControlName="humanText" name="humanText" placeholder="Human">
					<div class="error-message" *ngIf="invalidHumanControlText !== ''"> {{invalidHumanControlText}}</div>
				</div>
				<button (click)="translateToMorse()">Translate To Morse</button>
			</div>
		</form>
	</div>
</div>
